.card-header{
    background-color: #5b70e4;
    padding: 40px;
    font-size: 30px;

}
.card-card1{
    background-color: #e1e5f7;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;

}