<!-- <h2>List of All Users</h2>
<div class="col-lg-12 p-2 pb-5" *ngFor="let f of users">
<div><div class="row">
      
    <img src="assets/avatar-logo.jpg" alt="boy in a jacket" width="50" height="60">
    <div class="bg-primary text-light">User {{f.email}} </div></div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="card">
  <h5 class="card-header text-light">List of all users</h5>
  </div><br>
  <div class="col-md-6 mx-auto">
  <div class="card-card1"*ngFor="let f of users">
    
    
    <div class="card-body"> 
      <div class="row">
      
        <img src="assets/avatar-logo.jpg" alt="boy in a jacket" width="50" height="60"><br>
        <div class=" text-darkt">Username- {{f.email}} </div></div>
      </div>
    </div>
  </div>
</div>